@model IEnumerable<BookTheShowEntity.Booking>


<div>
    <a asp-controller="Booking" asp-action="BookingEntry">Booking Entry</a>
    <hr />
</div>



<div class="row">
    <div class="col-12">
        <h3>Bookings</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>BookingId</th>
                    <th>BookingName</th>-
                    <th>ShowDescription</th>
                    <th>UserId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Booking in Model) @*mvc controller name is asp controller and its function name is asp-action and asp-route-moveid (is used in url means ) we need pass the same argument in  editBooking of Bookingcontroller (route name) here which is BookingId
                which can be written as http://localhost:32344/Bookings/edit Booking?Bookingid=2//
                *@
                {
                    <tr>
                        <td>@Booking.BookingId</td>
                        <td>@Booking.BookingQuantity</td>
                        <td>@Booking.showId</td>
                        <td>@Booking.UservId</td>

                        <td>
                            <a asp-controller="Booking" asp-action="EditBooking"
                           asp-route-BookingId="@Booking.BookingId">Edit</a>
                        </td>

                        <td>
                            <a asp-controller="Booking" asp-action="DeleteBooking"
                           asp-route-BookingId="@Booking.BookingId">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>