@model IEnumerable<BookTheShowEntity.ShowTimev>


<div>
    <a asp-controller="ShowTime" asp-action="ShowTimeEntry">ShowTime Entry</a>
    <hr />
</div>


<div class="row">
    <div class="col-12">
        <h3>ShowTime</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>ShowId</th>
                    <th>ShowTimevv</th>
                    <th>TheatrevId</th>
                    <th>MovievId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Show in Model)
                {
                    <tr>
                        <td>@Show.ShowvId</td>
                        <td>@Show.ShowTimevv</td>
                        <td>@Show.TheatrevId</td>
                        <td>@Show.MovievId</td>

                        <td>
                            <a asp-controller="ShowTime" asp-action="EditShowTime"
                           asp-route-ShowTimeId="@Show.ShowvId">Edit</a>
                        </td>

                        <td>
                            <a asp-controller="ShowTime" asp-action="DeleteShowTime"
                           asp-route-ShowTimeId="@Show.ShowvId">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>